.list_headers{
    color: white; 
    font-size: 30;
    font-family: "Courier New", "Lucida Console", monospace;
    text-align: center;
}


body{
    background-color: lightblue;
}

.bullets{
    color:blueviolet;
    font-family: "Courier New", "Lucida Console", monospace;
    font-size: 20px;
    text-align: center;
}

div{
    background-color:pink   
}

h1{
    color: white;
    font-size: 100px; 
    text-shadow: 6px 6px black;
    text-align: center;
    font-family: "Courier New", "Lucida Console", monospace;
}


.container ul{
    display: block;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
}
.container li {
    float: left;
}
  


.container li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 50px;
    font-family: "Courier New", "Lucida Console", monospace;

   
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  