.list_headers{
 text-color: white; 
 font-size: 25;
}


body{
    background-color: lightblue;
}

.bullets{
    color:blueviolet;
}

div{
    background-color:pink   
}

p{
    text-color: white; 
    font_size: 50; 
    text-shadow: 2px 2px black;

}

.p1 {
  font-family: "Times New Roman", Times, serif;
}
